<!-- name, date of birth, grade_year, attributed course -->
<div id="main-container">
    <h1>Register a Student</h1>
    <div id="info-container">
        <div id="left-container">
            <p>Student Name:</p>
            <input class="text-box" type="text">
            <p>Date Of Birth:</p>
            <input class="text-box" type="text">
            <p>Grade Year: </p>
            <input class="text-box" type="text">
        </div>
        <div id="right-container">
            <p>Course attributed:</p>
            <input type="text">
        </div>
    </div>
    <div id="button-div">
        <button id="action-button">
            <p>Add</p>
            <img src="./assets/student_4950.png" alt="">
        </button>
    </div>
</div>