<!-- name, date of birth, grade_year, attributed course -->
<div id="background-container">
    <div id="main-container">
        <label id="warning-lacking-info" for="" *ngIf="insuficientInfo()"> Lacking info, please try again. </label>
        <h1>Register a Student</h1>
        <div id="info-container">
            <div id="left-container">
                <label for="studNameBox">First and Last Name:</label>
                <input id="studNameBox" class="text-box" type="text" placeholder="Insert name" [value]="new_student().name"
                    (input)="updateName($event)">
                <label for="dateOfBirthBox">Date Of Birth:</label>
                <input id="dateOfBirthBox" class="text-box" type="date" [value]="new_student().dateOfBirth"
                    (input)="updateDateOfBirth($event)">
                <label for="grade-selection-container">Grade Year: </label>
                <select name="course-options" id="grade-selection-container" (change)="updateGradeYear($event)">
                    <option value="">...</option>
                    <option value="Freshmen">Freshmen</option>
                    <option value="Junior">Junior</option>
                    <option value="Sophmore">Sophmore</option>
                    <option value="Senior">Senior</option>
                </select>
            </div>
            <div id="right-container">
                <label for="emailBox">Email:</label>
                <input id="emailBox" type="email" placeholder="Insert email" [value]="new_student().email"
                    (input)="updateEmail($event)">
            </div>
        </div>
        <div id="button-div">
            <button appHover (click)="onRegister()" id="action-button">
                <label>Add</label>
                <img src="./assets/student_4950.png" alt="">
            </button>
        </div>
    </div>
    
    <div id="course-join-dialog-box" *ngIf="student_registered()">
        <app-course-picking 
        [studentId] = "student_registered_id">
        </app-course-picking>
    </div>
</div>