<header>
    <div id = 'header-container'>
        <nav>
            <span appHover id='login-nav'>Login</span>
            <span appHover id='register-nav'>Register</span>
        </nav>
        <nav appHover id="home-icon">
            <img routerLink="/" src="/assets/ICON-MANAS.png" alt="ManaS" />
        </nav>
    </div>
    <div id="topbar-container" #topbar>
        <ul>
            <li appHover> <img routerLink="/courses" class="topbar-icons" src="/assets/courses icon.png" alt="Courses">
                <p class="topbar-text">Courses</p>
            </li>
            <li appHover> <img routerLink="/submit/course" class="topbar-icons" src="/assets/add_courses.png"
                    alt="New Course">
                <p class="topbar-text">Submit a New Course</p>
            </li>
            <li appHover> <img routerLink="/register/student" class="topbar-icons" src="/assets/add_students.png"
                    alt="Add Student">
                <p class="topbar-text">Add Student</p>
            </li>
        </ul>
    </div>
</header>