#main-container {
    background-color: rgb(44, 43, 49);
    margin-top: 7em;
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.5);


    #top-container {
        background-color: #270d5b;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-bottom: 40px;
        display: flex;
        justify-content: right;

        #close-button {
            background: transparent;
            border: none;

            :hover {
                cursor: pointer;
            }

            img {
                width: 2em;
            }
        }
    }

    #middle-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        >label {
            display: flex;
            justify-content: center;
            font-size: 16pt;
            color: white;
            margin-bottom: 10px;
        }

        select {
            background-color: rgb(65, 72, 82);
            width: fit-content;
            height: 1.5em;
            border: none;
            color: white;
            font-size: 12pt;
        }
    }

    #bottom-container {
        display: flex;
        margin-top: 50px;
        justify-content: center;

        button {
            :hover {
                cursor: pointer;
            }

            margin-inline: 20px;
            font-size: 14pt;
            color: white;
            width: 3em;
            border-radius: 5px;
            background-color: #401693;
            border: none;
            box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);

        }

        #confirm-button {
            background-color: rgb(38, 40, 44);
        }
    }
}