#background-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

#courselist-container {
    background-color: rgb(44, 43, 49);
    display: flex;
    justify-content: center;
    height: 45rem;
    width: 80em;
    border-radius: 20px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    overflow-x: auto;
    overflow-y: scroll;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: fit-content;
    padding-block: 30px;
    list-style: none;


    li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        width: fit-content;
        display: flex;
        border-radius: 15px;
        background-color: #00000000;
        margin: 10px;

        #course-container {
            width: 75em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 15px;

            #course-info {
                width: 65%;
                padding-inline: 0px;
                padding-block: 0px;
                margin-block: 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;


                #name {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                    height: 9em;
                    width: 13em;
                    padding-inline: 30px;
                    display: flex;
                    align-items: center;
                    background-color: #401693;
                    border-radius: 15px;
                }

                #teacher-info {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
                    background-color: rgb(55, 58, 63);
                    border-radius: 15px;
                    font-size: 13pt;
                    display: flex;
                    justify-content: left;
                    align-content: center;
                    width: 60%;
                    height: 7em;
                    flex-direction: row;
                    padding: 0;
                    margin: 0;

                    #teacher-name {
                        padding-inline: 25px;
                        width: 30%;
                    }

                    #teacher-email {
                        width: 70%;
                        padding-inline: 25px;
                    }
                }

            }
        }

        .student-action-button {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            background-color: #401693;
            margin-inline-end: 10px;
            border-radius: 15px;
            height: 7em;
            width: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 13pt;

            button {
                background: none;
                border: none;

                img {
                    cursor: pointer;
                    background-color: rgb(255, 255, 255);
                    width: 1.7em;
                    height: 1.7em;
                    border-radius: 5px;
                }
            }

        }

        #course-edit-box {
            display: flex;
            flex-direction: column;
            width: 5%;
            background-color: #401693;
            border-radius: 7px;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

            #edit-course {
                cursor: pointer;
                background-color: transparent;
                background: none;
                border: none;

                img {
                    width: 1.8em;
                    background-color: white;
                    border-radius: 5px;
                }
            }

            #remove-course {
                cursor: pointer;
                background-color: transparent;
                background: none;
                border: none;

                img {
                    width: 1.8em;
                    border-radius: 10px;
                }

            }
        }
    }
}