<div id="courselist-container">
    <ul>
        <li>
            <div id="course-container">
                <p>THIS IS A COURSE</p>
            </div>
        </li>
        <li>
            <div id="course-container">
                <p>THIS IS A COURSE</p>
            </div>
        </li>
        <li>
            <div id="course-container">
                <p>THIS IS A COURSE</p>
            </div>
        </li>
        <li>
            <div id="course-container">
                <p>THIS IS A COURSE</p>
            </div>
        </li>
        <li>
            <div id="course-container">
                <p>THIS IS A COURSE</p>
            </div>
        </li>
        <li>
            <div id="course-container">
                <p>THIS IS A COURSE</p>
            </div>
        </li>
    </ul>
</div>
