ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: fit-content;
    padding-block: 30px;
    list-style: none;

    :hover {
        background-color: rgb(87, 88, 92);
    }

    li {
        font-family: 'Trebuchet MS';
        color: white;
        margin-bottom: 10px;
        width: fit-content;
        background-color: rgb(55, 58, 63);
        display: flex;
        border-radius: 5px;
        box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.5);

        #course-container {
            width: 75em;
            height: 7em;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #course-info {
                width: 65%;
                padding-inline: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-left: 0;
                border-top: 0;
                border-bottom: 0;
                border-style: groove;
                border-radius: 10px;
                border-color: rgba(0, 0, 0, 0.532);


                #name {
                    cursor: pointer;
                    height: 7em;
                    width: 13em;
                    padding-inline: 30px;
                    display: flex;
                    align-items: center;
                    border-left: 0;
                    border-top: 0;
                    border-bottom: 0;
                    border-style: groove;
                    border-radius: 10px;
                    border-color: rgba(0, 0, 0, 0.532);
                }

                #teacher-info {
                    font-size: 13pt;
                    display: flex;
                    justify-content: left;
                    align-content: center;
                    width: 60%;
                    flex-direction: row;

                    #teacher-name {
                        padding-inline: 25px;
                        width: 30%;
                    }

                    #teacher-email {
                        width: 70%;
                        padding-inline: 25px;
                    }
                }

            }
        }

        .student-action-button {
            width: 15%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            font-size: 13pt;

            button {
                background: none;
                border: none;

                img {
                    cursor: pointer;
                    background-color: rgb(255, 255, 255);
                    width: 1.7em;
                    height: 1.7em;
                    border-radius: 5px;
                }
            }

        }

        #course-edit-box {
            display: flex;
            flex-direction: column;
            width: 5%;
            background-color: #401693;
            border-radius: 7px;
            justify-content: center;
            align-items: center;
            box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);

            #edit-course {
                cursor: pointer;
                background-color: transparent;
                background: none;
                border: none;

                img {
                    width: 1.8em;   
                    background-color: white;
                    border-radius: 5px;
                }
            }

            #remove-course {
                cursor: pointer;
                background-color: transparent;
                background: none;
                border: none;

                img {
                    width: 1.8em;
                    border-radius: 10px;
                }

            }
        }
    }
}