div {
    border-end-end-radius: 10%;
    background: linear-gradient(90deg, rgba(139, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 91%);
    border-bottom-left-radius: 10px;
    padding: 0.5em;
    top: 80px;
    width: 275px;
    height: fit-content;
    position: left;

    ul {    
        size: 100%;
        font-family: 'Trebuchet MS';
        font-size: 12pt;
        color: white;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: left;
        padding-left: 1em;
        padding-right: 1em;
        list-style: none;

        li { 
            display: flex;
            align-items: center;
            
            .sidebar-text{
                padding-inline-start: 15px;
            }

            .sidebar-icons {
                cursor: pointer;
                background-color: rgb(255, 255, 255);
                width: 1.5em;
                height: 1.5em;
                border-radius: 5px;
            }
        }
    }
}