<div>
    <ul>
        <li> <img class="sidebar-icons" src="/assets/courses icon.png" alt="Courses">
            <p class="sidebar-text">Courses</p>
        </li>
        <li> <img class="sidebar-icons" src="/assets/add_courses.png" alt="New Course">
            <p class="sidebar-text">Submit a New Course</p>
        </li>
        <li> <img class="sidebar-icons" src="/assets/student_4950.png" alt="Students">
            <p class="sidebar-text">Students</p>
        </li>
        <li> <img class="sidebar-icons" src="/assets/add_students.png" alt="Add Student">
            <p class="sidebar-text">Add Student</p>
        </li>
    </ul>
</div>