<div id="main-container">
    <div id= "dialog-box-container">
        <div id="top-container">
            <button id="exit-button">
                <img src="/assets/delete icon.png" alt="">
            </button>
        </div>
        <div id="middle-container">
            <label for="">Would you like to delete "course"?</label>
        </div>
        <div id="bottom-container">
            <button id="confirm-button">
                <label for="">
                    Yes
                </label>
            </button>
            <button id="refuse-button">
                <label for="">
                    No
                </label>
            </button>
        </div>
    </div>
</div>