<div id="studentlist-container">
    <ul>
        <li *ngFor="let student of studentList()">
            <div appHover id="student-container">
                <div id="student-info">
                    <img src="/assets/no-user-profile-photo.png" alt="student-profile-icon">
                    <div>
                        <h3>{{student.name}}</h3>
                        <p> Student code: {{student.student_code}} </p>
                    </div>
                    <div>
                        <p> Course Enrolled: this is a course</p>
                        <p> Grade Year: {{student.grade_year}} </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>