ul {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: fit-content;
    padding-block: 30px;
    list-style: none;

    :hover {
        background-color: rgb(87, 88, 92);
    }

    li {
        font-family: 'Trebuchet MS';
        color: white;
        margin-bottom: 10px;
        width: fit-content;
        background-color: rgb(55, 58, 63);
        display: flex;
        border-radius: 5px;
        box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.5);

        #student-container {
            width: 75em;
            height: 7em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;

            img {
                width: 6em;
            }

            #student-info {
                width: 100%;
                padding-inline: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                div {
                    height: 100%;
                    width: 35%;
                    border-left: 0;
                    border-top: 0;
                    border-bottom: 3px;
                    border-right: 3px;
                    border-style: groove;
                    border-color: rgba(91, 91, 91, 0.785);
                    border-radius: 10px;
                }
            }

            #student-edit-box {
                display: flex;
                flex-direction: column;
                width: 5%;
                height: 100%;
                background-color: #401693;
                border-radius: 7px;
                justify-content: center;
                align-items: center;
                box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);

                #edit-student {
                    cursor: pointer;
                    background-color: transparent;
                    background: none;
                    border: none;

                    img {
                        width: 1.8em;
                        background-color: white;
                        border-radius: 5px;
                    }
                }

                #remove-student {
                    cursor: pointer;
                    background-color: transparent;
                    background: none;
                    border: none;

                    img {
                        width: 1.8em;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}