<div id="studentlist-container">
    <ul>
        <li *ngFor="let student of studentList()">
            <div id="student-container">
                <div id="student-info">
                    <img src="/assets/no-user-profile-photo.png" alt="student-profile-icon">
                    <div>
                        <h3>{{student.name}}</h3>
                        <p> Student code: {{student.student_code}} </p>
                    </div>
                    <div>
                        <p> Course Enrolled: </p>
                        <p> Grade Year: {{student.grade_year}} </p>
                    </div>
                </div>
                <div id="student-edit-box">
                    <button id="edit-student" routerLink="/edit/student">
                        <img src="/assets/edit-icon.png" alt="">
                    </button>
                    <button id="remove-student" routerLink="">
                        <img src="/assets/delete icon.png" alt="">
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>