<!-- Course Name, Main Teacher, Main teacher email, Hours to finish  -->
<div id="main-container">
    <h1>Course Submit</h1>
    <div id="info-container">
        <div id="top-container">
            <p>Course Name:</p>
            <input class="text-box" type="text">
            <p>Main teacher:</p>
            <input class="text-box" type="text">
            <p>Main teacher Email: </p>
            <input class="text-box" type="text">
        </div>
        <div id="bottom-container">
            <p>How many hours does it take?</p>
            <input type="number">
        </div>
    </div>
    <div id="button-div">
        <button id="action-button">
            <p>Add</p>
            <img src="./assets/courses icon.png" alt="">
        </button>
    </div>
</div>